/*RESET CSS BEGIN*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*RESET CSS END*/


/*HELPER CLASS BEGIN*/

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}


/*HELPER CLASS END*/

* {
    box-sizing: border-box;
    outline: 0;
    color: white;
}

header.stick{
    background-color: rgba(44, 62, 80,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-200%);
    transition: 0.3s;
    z-index: 1000;
}
.scroll header.stick{
    transform: translateY(0);
}
.nav-wrap{
    max-width: 1200px;
    margin: auto;
    position: relative;
    
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-wrap ul li {
    padding: 0 5px;
    margin: 0;
    display: inline-block;
}

.nav-wrap ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Noto Kufi Arabic', sans-serif; 
    border-bottom: 2px solid transparent;
    transition: 0.3s;

}
.logo a {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poor Story', sans-serif; 
}
.nav-wrap ul li a:hover{
    color: #27ae60;
    border-bottom: 2px solid #27ae60;
}
/************************responsive ***************/ 
@media only screen and (min-width: 600px) {
    .description{
      margin-top: 15vh;
    }
}
@media only screen and (min-width:790px) {
  /* For tablets: */
 .col-sam{
  width: 50%;
}
  .row-col-md{
    width: 28%;
  }
}
@media only screen and (max-width:790px) {
  .row-col-md{
   width :40%;
  }
}
.contact{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin: auto;
  direction: rtl;
  width: 50%;
}
.contact input{
  margin:  5px 0 ;
}
.contact input:nth-child(2){
  transition: 0.3s;
  padding:   2px 22px ;
  border: white;
}
.contact input:nth-child(2):hover{
  background: #27ae60;
  border: white;
}
.project{
  cursor: pointer;
  margin: 10px 0 ;
  align-items: center;
  width: 100%;
  display: flex;
  transition: 0.4s;
}
.project:hover{
 box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}
.project h2{
  font-size: 16px;
}
.blog {
    background-image: url('../images/proj1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.skew{
  width: 450px;
  background: rgba(255,255,255,0.7);
  transform: skew(20deg);
}
.ourprojects{
  
  transform: skew(-20deg);
  color: #2c3e50;
  font-family: 'Noto Kufi Arabic', sans-serif; 
  direction: rtl;
  width: 500px;
}
.ourprojects h1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 8px 20px;
  width: 50%;
  margin: auto;
  font-size: 22px;
  text-align: center;
}
.project p{
   font-size: 14px;
}
@media only screen and (max-width:700px) {
  .contact{
    width: 80%;
  }
  .ourprojects{
    width: 100%;
    padding: 6px;
  }
}

@media only screen and (max-width:500px) {
  .row-col-md{
   width :51%;
  }
}
/************************end responsive******************/
/*******************************************************description*******/
.main-cover {
  background-image:  url("../images/geek.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.container{
   background-color:  rgba(0,0,0,0.5);
   height: 80vh;
}

.description{
  font-family: 'Noto Kufi Arabic', sans-serif; 
  direction: rtl;
  text-align: center;
}
ul li.title{
  line-height: normal;
  font-size: 50px; 
}
ul li.short{
  text-shadow: 2px 2px #2c3e50;
  line-height: normal;
  font-size: 25px; 
}
.description a{
 text-decoration: none;
 border:2px solid white;
 padding: 7px 25px;
 transition: 0.5s;
 margin: 0 15px;
 background-color: transparent;
}
.description ul {
    margin-bottom: 30px;
}
.description a:hover{
 background-color: rgba(0,0,0,0.9);
  
}
/*****************end section one ************/
/****************start section body content ******/
.content *{
  color: #2c3e50;
}
.head-content{
  direction: rtl;
  display: flex;
   -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  width: 90%;
  margin: auto;
}
.head-content h2{
  text-align: center;
  padding-bottom: 10px;
  font-size: 22px;
  font-family: 'Noto Kufi Arabic', sans-serif; 
}
.body-content{
  /****flex test****/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  /****test****/
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}
.row-col-md{
  margin-top: 30px;
  text-align: center;
  font-size: 22px;
  font-family: 'Noto Kufi Arabic', sans-serif; 
} 
.row-col-md img {
    width: 100%;
    height: 100%;
}
.dash{

  height: 4px;
  background: #27ae60;
  width: 50%;
  margin: 10px auto;
  border-radius: 50%;
}
.break{
  height: 4px;
  margin: 10px auto;

}

.bio {
    font-family: 'Noto Kufi Arabic', sans-serif; 
    font-size: 10px;
    direction: rtl;
}
.bio ul li{
  margin: 3px ;
  text-align: right;
  font-size: 14px;
}
.bio-head{
  display: flex;
  align-items: center;
}
.head-content img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}
.row-col-md h2 {
  margin-bottom: 15px;
}

 a.btn-prices{
  font-size: 17px;
  text-decoration: none;
  padding: 2px 20px;
  color: white;
  background: #27ae60;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row-col-md{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.headline {
  background:  #27ae60;
  padding: 1px;  
  margin: 3px auto;
  margin-top: 0;
  width: 100%;
  border-radius:  50%;
}
/*******************************projects************/

.content-projects , .img-proj{
  line-height: normal;
  text-align: right;
 
} 


.img-proj img{
  padding: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.middle-text{
  width: 100%;
  background: #ffffff;
  margin: auto; 
  box-sizing: border-box;
}
.middle-text * {
  line-height: normal;
  color: #2c3e50;
  text-align: center;
  font-family: 'Noto Kufi Arabic', sans-serif;
}
.middle-text div {
  width: 80%;
  margin: auto;
}
.middle-text h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}


.contact-footer {
  font-size: 17px;
  text-align: right;
  font-family: 'Noto Kufi Arabic', sans-serif;
  margin: 0 auto;
  direction: ltr;
}
.contact-footer p {
  margin: 2px;
  font-size: 14px;
  font-family: 'Noto Kufi Arabic', sans-serif;
}

.contact-footer h2{
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 15px;
}
.contact-footer a{
  color: #2e86de;
}
footer{
  text-align: center;
  background: #2c3e50;
}
.messege ,.contact-message{
  width:50%;
}
.messege{
  direction: rtl;
  float: right;
}
.messege form{
  
  text-align: center;
  
}
.messege *{
  font-size: 14px;
  font-family: 'Noto Kufi Arabic', sans-serif;
}
.messege input[type="email"],textarea{

  width: 100%;
  margin:  2px 0;
}
.messege input[type="submit"]{
  transition: 0.3s;
  border: 1px solid transparent;
  background-color: #27ae60;
  padding: 0 20px;
}
.messege input[type="submit"]:hover{
  background-color: transparent;
  border: 1px solid white;
}
.contact-message{
  float: left;
}
.contact-footer div{
  padding: 5px;
}